[submodule "arch-boxes"]
	path = archlinux/arch-boxes
	url = https://gitlab.archlinux.org/archlinux/arch-boxes.git

[submodule "AdminLTE"]
	path = flask_app/trview/AdminLTE
	url = https://github.com/ColorlibHQ/AdminLTE.git

[submodule "FA5PRO"]
	path = flask_app/trview/static/FA5PRO
	url = https://github.com/icanka/fa5pro.git
