<table id="signals_table" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Created</th>
      <th>Strategy Name</th>
      <th>Ticker</th>
      <th>Strategy Action</th>
      <th>Market Position</th>
      <th>Signal Price</th>
    </tr>
    </thead>
    <tbody>
    {% for signal in table_data %}
      <tr>
        <td>{{ signal.created }}</td>
        <td>{{ signal.strategy_name }}</td>
        <td>{{ signal.ticker }}</td>
        <td>{{ signal.strategy_action }}</td>
        <td>{{ signal.market_position }}</td>
        <td>{{ signal.price }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <th>Created</th>
      <th>Strategy Name</th>
      <th>Ticker</th>
      <th>Strategy Action</th>
      <th>Market Position</th>
      <th>Signal Price</th>
    </tr>
    </tfoot>
  </table>