<table id="signals_table" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Created</th>
      <th>Ticker</th>
      <th>Strategy Action</th>
      <th>Market Position</th>
      <th>Signal Price</th>
      <th>Contracts</th>
      <th>Position Size</th>
      <th>Market Position Size</th>
      <th>Order Id</th>
      <th>Strategy Name</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
      <th>Created</th>
      <th>Ticker</th>
      <th>Strategy Action</th>
      <th>Market Position</th>
      <th>Signal Price</th>
      <th>Contracts</th>
      <th>Position Size</th>
      <th>Market Position Size</th>
      <th>Order Id</th>
      <th>Strategy Name</th>
    </tr>
    </tfoot>
  </table>


  